.add-currency-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    box-shadow: 0 5px 9px 4px rgba(0,0,0,0.28);
    border-radius: 5px;
}
.add-currency-show-form{
    display: flex;
    align-items: center;
}
.add-currency-show-form input{
    border: none;
    padding: 10px;
    box-shadow: 0 5px 9px 4px rgba(0,0,0,0.28);
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.add-currency-show-form input:focus{
    outline: none;
    box-shadow: 0 5px 9px 4px rgba(75,179,155,1);
}
.add-currency-button{
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    background-color: #4bb39a;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    user-select: none   ;
}
.add-currency-button:hover{
    background-color: #36846b;
    color: white;
}
.add-currency-button:active{
    background-color: #38716d;
    color: white;
}
